@function gray($color){
  @return rgb($color, $color, $color);
}

.red {
  -fx-background-color: rgb(237, 66, 69);
}

.blue {
  -fx-background-color: rgb(100, 181, 246);
}

.dark-blue {
  -fx-background-color: rgb(21, 101, 192);
}

.background {
  -fx-background-color: rgb(45, 50, 64);
}

.theme {
  -fx-background-color: $theme;
}

.theme-dark {
  -fx-background-color: $themeDark;
}

.small-shadow {
  -fx-effect: dropshadow(three-pass-box, black, 10, 4, 0, 0.08);
}

.large-shadow {
  -fx-effect: dropshadow(three-pass-box, black, 20, 4, 0, 0.15);
}

body {
  -fx-margin: 0px;
  -fx-overflow: hidden;
  -fx-padding: 0px;
}

#app {
  -fx-background-color: $background;
  -fx-pref-height: 700.0;
  -fx-pref-width: 1350.0;
  -fx-max-height: Infinity;
  -fx-max-width: Infinity;
  -fx-min-height: Infinity;
  -fx-min-width: Infinity;
}

#menu-toggle {
  -fx-background-color: white;
  -fx-background-radius: 8;
  -fx-bottom: 0px;
  -fx-box-shadow: $smallShadow;
  -fx-cursor: hand;
  -fx-height: 8vh;
  -fx-left: 0px;
  -fx-margin: 2vh;
  -fx-position: fixed;
  -fx-width: 8vh;
  -fx-z-index: 3;
}

#menu-toggle:hover {
  -fx-background-color: gray(240);
}

#menu-toggle i {
  -fx-fill: $theme;
  -fx-font-size: 2vh;
}

#menu {
  -fx-height: 100vh;
  -fx-opacity: 0;
  -fx-position: absolute;
  -fx-transition: opacity 250ms, transform 250ms;
  -fx-transition-delay: 300ms;
  -fx-width: 40vh;
}

#menu.toggled {
  -fx-opacity: 1;
  -fx-transform: translateX(0%);
  -fx-transition-delay: 0ms;
}

#menu-background-wrapper {
  -fx-height: 100vh;
  -fx-left: 0px;
  -fx-position: absolute;
  -fx-top: 0px;
  -fx-width: 40vh;
  -fx-z-index: 1;
}

#menu-background {
  -fx-background-color: $theme;
  -fx-border-bottom-right-radius: 100%;
  -fx-border-top-right-radius: 100%;
  -fx-effect: $largeShadow;
  -fx-height: 200vh;
  -fx-position: absolute;
  -fx-right: 0px;
  -fx-top: -50vh;
  -fx-width: 200vh;
}

#menu-background:before {
  -fx-background-color: rgba($theme, 0.05);
  -fx-border-color: rgba($theme, 0.2);
  -fx-border-bottom-right-radius: 100%;
  -fx-border-top-right-radius: 100%;
  -fx-content: "";
  -fx-height: 120%;
  -fx-left: 50%;
  -fx-position: absolute;
  -fx-top: 50%;
  -fx-transform: translate(-100%, -50%);
  -fx-transition: transform 250ms;
  -fx-width: 120%;
  -fx-z-index: -1;
}

#menu-profile-image {
  -fx-border-radius: 500px;
  -fx-effect: $largeShadow;
  -fx-display: block;
  -fx-height: 40vh;
  -fx-left: 0px;
  -fx-object-fit: cover;
  -fx-position: absolute;
  -fx-top: 50%;
  -fx-transform: translate(-50%, -50%);
  -fx-width: 40vh;
  -fx-z-index: 2;
}

#menu-quick-options {
  -fx-align-items: center;
  -fx-display: flex;
  -fx-flex-direction: column;
  -fx-height: 40vh;
  -fx-justify-content: space-around;
  -fx-position: absolute;
  -fx-top: 50%;
  -fx-transform: translate(100%, -50%);
  -fx-width: 20vh;
  -fx-z-index: 3;
}

.menu-quick-option {
  -fx-align-items: center;
  -fx-background-color: white;
  -fx-border: none;
  -fx-border-radius: 8;
  -fx-box-shadow: $smallShadow;
  -fx-cursor: hand;
  -fx-display: flex;
  -fx-height: 8vh;
  -fx-justify-content: center;
  -fx-opacity: 0;
  -fx-padding: 0px;
  -fx-text-decoration: none;
  -fx-transform: translateX(-30%) scale(0.25);
  -fx-transition: opacity 150ms, transform 150ms;
  -fx-width: 8vh;
}

.menu-quick-option:hover {
  -fx-background-color: gray(240);
}

.menu-quick-option.tooltip {
  -fx-background-color: gray(30);
  -fx-border-radius: 0.5vh;
  -fx-box-shadow: 0px 0px 1vh 0.25vh rgba(black, 0.08);
  -fx-color: white;
  -fx-font-size: 1em;
  -fx-opacity: 0;
  -fx-pointer-events: none;
  -fx-position: absolute;
  -fx-right: -1vh;
  -fx-transform: translateX(90%);
  -fx-transition: opacity 250ms, transform 250ms;
  -fx-z-index: 1;
}

.menu-full-options {
  -fx-align-items: flex-start;
  -fx-display: flex;
  -fx-flex-direction: column;
  -fx-height: 60vh;
  -fx-justify-content: space-around;
  -fx-left: 44vh;
  -fx-position: absolute;
  -fx-top: 50%;
  -fx-transform: translateY(-50%);
  -fx-width: 20vh;
  -fx-z-index: 2;
}

.menu-full-option {
  -fx-align-items: center;
  -fx-background-color: transparent;
  -fx-border: none;
  -fx-border-radius: 0.5vh;
  -fx-cursor: hand;
  -fx-display: flex;
  -fx-gap: 1vh;
  -fx-opacity: 0;
  -fx-padding: 1vh;
  -fx-text-decoration: none;
  -fx-transform: translateX(-2vh);
  -fx-transition: opacity 150ms, transform 150ms;
}

.menu-full-option:hover {
  -fx-background-color: rgba(white, 0.05);
}

.menu-full-option:first-of-type,
.menu-full-option:last-of-type {
  -fx-transform: translateX(-6vh);
}

.menu-full-option:nth-of-type(2),
.menu-full-option:nth-of-type(4) {
  -fx-transform: translateX(-4vh);
}

.menu-full-option i,
.menu-full-option h3 {
  -fx-fill: white;
  -fx-font-size: 1.5vh;
  -fx-height: 2vh;
  -fx-line-height: 2vh;
}

@media (max-width: 1200px) {
  #app #menu {
    -fx-width: 30vh;
  }

  #app #menu-background-wrapper {
    -fx-width: 30vh;
  }

  #app #menu-profile-image {
    -fx-height: 30vh;
    -fx-width: 30vh;
  }

  #app #menu-quick-options {
    -fx-width: 15vh;
  }

  #app #menu-full-options {
    -fx-left: 34vh;
  }
}

@media (max-width: 800px) {
  #app #menu {
    -fx-width: 25vh;
  }

  #app #menu-background-wrapper {
    -fx-width: 25vh;
  }

  #app #menu-profile-image {
    -fx-height: 25vh;
    -fx-width: 25vh;
  }

  #app #menu-quick-options {
    -fx-width: 12.5vh;
  }

  #app .menu-quick-option {
    -fx-height: 7vh;
    -fx-width: 7vh;
  }

  #app #menu-full-options {
    -fx-left: 29vh;
  }
}

@media (prefers-reduced-motion) {
  #app #menu {
    -fx-transition: none;
  }

  #app #menu-quick-options .menu-quick-option {
    -fx-transition: none;
  }

  #app #menu-full-options .menu-full-option {
    -fx-transition: none;
  }

  #app #menu-background-wrapper #menu-background:before {
    -fx-transition: none;
  }
}
