.error-textfield {
  -fx-background-color: #FFF0F0; /* Color de fondo más claro */
  -fx-border-color: #FF8080; /* Color de borde más suave */
  -fx-border-width: 1px; /* Grosor del borde */
  -fx-border-radius: 5px; /* Radio de borde para esquinas redondeadas */
  -fx-prompt-text-fill: #C0C0C0; /* Color del texto de marcador de posición */
  -fx-font-size: 14px; /* Tamaño de fuente */
}

.error-textfield:focused {
  -fx-background-color: #FFF5F5; /* Color de fondo más claro cuando el campo está enfocado */
}

.error-textfield:hover {
  -fx-background-color: #FFF5F5; /* Color de fondo más claro cuando el mouse está sobre el campo */
}